body{
    text-align: center;
}


.black{
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.white{
    background-color:#232121;
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title{
    
    background-color: #232121;
    padding: 3% 15% 7%;
    color:#fff ;
}


.navbar-brand{
    font-family: "Ubuntu";
    
    font-size: 2.5rem!important;
    font-weight: bold;
    
}

.nav-item{
    padding: 0 18px;

}

.nav-link{
    font-size :-1.2rem;
    font-family:"Montserrat" ;
    
}
