h2{
    
    text-align: center;
    font-family: "Ubuntu";
}
h3{
    text-align: center;
    font-size: medium;
}


#title{
    
    background-color: #232121;
    padding: 3% 15% 7%;
    color:#fff ;
}
.navbar{
    padding:0 0 4.5rem!important;
}

.navbar-brand{
    font-family: "Ubuntu";
    
    font-size: 2.5rem!important;
    font-weight: bold;
    
}

.nav-item{
    padding: 0 18px;

}

.nav-link{
    font-size :-1.2rem;
    font-family:"Montserrat" ;
    
}


.heading{
    font-family: "Ubuntu";
    text-align: center;
    font-size: 2.5rem!important;
    font-weight: bold;
}

#hlo2{
    font-size :-1.2rem;
    font-family:"Montserrat" ;
    text-align:center;
}

#News{
    background-color: #232121;
    font-size :-1.2rem;
    font-family:"Montserrat" ;
    text-align:center;
    color: #fff;
}

